<h1>Chess</h1>
<p>Your turn, white!</p>

<div class="ChessBoard">

    <div class="ChessBoard-square --white" data-piece="white-knight"></div>
    <div class="ChessBoard-square --black" data-piece="white-knight"></div>
    <div class="ChessBoard-square --white" data-piece="white-knight"></div>
    <div class="ChessBoard-square --black" data-piece="white-knight"></div>
    <div class="ChessBoard-square --white" data-piece="white-knight"></div>
    <div class="ChessBoard-square --black" data-piece="white-knight"></div>
    <div class="ChessBoard-square --white" data-piece="white-knight"></div>
    <div class="ChessBoard-square --black" data-piece="white-knight"></div>

    <div class="ChessBoard-square --black" data-piece="white-pawn"></div>
    <div class="ChessBoard-square --white" data-piece="white-pawn"></div>
    <div class="ChessBoard-square --black" data-piece="white-pawn"></div>
    <div class="ChessBoard-square --white" data-piece="white-pawn"></div>
    <div class="ChessBoard-square --black" data-piece="white-pawn"></div>
    <div class="ChessBoard-square --white" data-piece="white-pawn"></div>
    <div class="ChessBoard-square --black" data-piece="white-pawn"></div>
    <div class="ChessBoard-square --white" data-piece="white-pawn"></div>
    
    <div class="ChessBoard-square --white"></div>
    <div class="ChessBoard-square --black"></div>
    <div class="ChessBoard-square --white"></div>
    <div class="ChessBoard-square --black"></div>
    <div class="ChessBoard-square --white"></div>
    <div class="ChessBoard-square --black"></div>
    <div class="ChessBoard-square --white"></div>
    <div class="ChessBoard-square --black"></div>
    
    <div class="ChessBoard-square --black"></div>
    <div class="ChessBoard-square --white"></div>
    <div class="ChessBoard-square --black"></div>
    <div class="ChessBoard-square --white"></div>
    <div class="ChessBoard-square --black"></div>
    <div class="ChessBoard-square --white"></div>
    <div class="ChessBoard-square --black"></div>
    <div class="ChessBoard-square --white"></div>
    
    <div class="ChessBoard-square --white"></div>
    <div class="ChessBoard-square --black"></div>
    <div class="ChessBoard-square --white"></div>
    <div class="ChessBoard-square --black"></div>
    <div class="ChessBoard-square --white"></div>
    <div class="ChessBoard-square --black"></div>
    <div class="ChessBoard-square --white"></div>
    <div class="ChessBoard-square --black"></div>
    
    <div class="ChessBoard-square --black"></div>
    <div class="ChessBoard-square --white"></div>
    <div class="ChessBoard-square --black"></div>
    <div class="ChessBoard-square --white"></div>
    <div class="ChessBoard-square --black"></div>
    <div class="ChessBoard-square --white"></div>
    <div class="ChessBoard-square --black"></div>
    <div class="ChessBoard-square --white"></div>
    
    <div class="ChessBoard-square --white" data-piece="black-pawn"></div>
    <div class="ChessBoard-square --black" data-piece="black-pawn"></div>
    <div class="ChessBoard-square --white" data-piece="black-pawn"></div>
    <div class="ChessBoard-square --black" data-piece="black-pawn"></div>
    <div class="ChessBoard-square --white" data-piece="black-pawn"></div>
    <div class="ChessBoard-square --black" data-piece="black-pawn"></div>
    <div class="ChessBoard-square --white" data-piece="black-pawn"></div>
    <div class="ChessBoard-square --black" data-piece="black-pawn"></div>

    <div class="ChessBoard-square --black" data-piece="black-knight"></div>
    <div class="ChessBoard-square --white" data-piece="black-knight"></div>
    <div class="ChessBoard-square --black" data-piece="black-knight"></div>
    <div class="ChessBoard-square --white" data-piece="black-knight"></div>
    <div class="ChessBoard-square --black" data-piece="black-knight"></div>
    <div class="ChessBoard-square --white" data-piece="black-knight"></div>
    <div class="ChessBoard-square --black" data-piece="black-knight"></div>
    <div class="ChessBoard-square --white" data-piece="black-knight"></div>
</div>