.ChessBoard {
	$black: #292929;
	$red: firebrick;
	border: 2px solid $black;
	border-radius: 3px;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	position: relative;
	width: 850px;

	&:before {
		background: none;
		border: 5px solid $black;
		border-radius: 3px;
		content: "";
		display: block;
		position: absolute;
		top: -13px;
		left: -13px;
		right: -13px;
		bottom: -13px;
		pointer-events: none;
	}

	&-info {
		font-family: 'EB Garamond', serif;
		text-align: center;
	}

	&-square {
		height: 100px;
		width: 12.26%;

		&.--white {
			background-color: #fff;
		}

		&.--black {
			position: relative;

			&:nth-child(odd) {
				&:before {
					background-image: linear-gradient(45deg, #292929 25%, #ffffff 25%, #ffffff 50%, #292929 50%, #292929 75%, #ffffff 75%, #ffffff 100%);
					background-size: 5.66px 5.66px;
					border-radius: 3px;
					content: '';
					display: block;
					height: 100%;
					position: relative;
					z-index: -1;
				}
			}

			&:nth-child(even) {
				&:before {
					background-image: linear-gradient(135deg, #292929 25%, #ffffff 25%, #ffffff 50%, #292929 50%, #292929 75%, #ffffff 75%, #ffffff 100%);
					background-size: 5.66px 5.66px;
					border-radius: 3px;
					content: '';
					display: block;
					height: 100%;
					position: relative;
					z-index: -1;
				}
				
			}
		}

		&.selected {
			background-color: $red;
		}
	}

	&-piece {
		background-size: contain;
		background-repeat: no-repeat;
		border: 1px solid transparent;

		&[data-piece="white-queen"] {
			background-image: url(asset_path('white-queen.png'));
		}
		&[data-piece="black-queen"] {
			background-image: url(asset_path('black-queen.png'));
		}

		&[data-piece="white-king"] {
			background-image: url(asset_path('white-king.png'));
		}

		&[data-piece="black-king"] {
			background-image: url(asset_path('black-king.png'));
		}

		&[data-piece="white-knight"] {
			background-image: url(asset_path('white-knight.png'));
		}

		&[data-piece="black-knight"] {
			background-image: url(asset_path('black-knight.png'));
		}

		&[data-piece="white-rook"] {
			background-image: url(asset_path('white-rook.png'));
		}

		&[data-piece="black-rook"] {
			background-image: url(asset_path('black-rook.png'));
		}

		&[data-piece="white-bishop"] {
			background-image: url(asset_path('white-bishop.png'));
		}

		&[data-piece="black-bishop"] {
			background-image: url(asset_path('black-bishop.png'));
		}

		&[data-piece="white-pawn"] {
				background-image: url(asset_path('white-pawn.png'));
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
		}

		&[data-piece="black-pawn"] {
				background-image: url(asset_path('black-pawn.png'));
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
		}
	}

	&-capturedPiece {
		display: inline-block;
		height: 40px;
		width: 40px;

		&-wrap {
			display: flex;
			justify-content: center;

			ul {
				list-style: none;
				padding: 0;
			}
		}
	}

	&-move {
		list-style: none;

		&-list {
			display: flex;
			flex-direction: column-reverse;
		}
	}
}